.item {
    cursor: pointer;
    padding: 7px 15px;
    border: 1px solid #d2d5d6;
    color: #2196f3;
    font-size: 13px;
  }
  
  .item:first-child {
    cursor: pointer;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  
  .item:nth-child(2) {
    margin: 0 -1px;
  }
  
  .item:last-child {
    cursor: pointer;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  
  .item:hover {
    transition: all 0.3s;
    background: rgba(33, 150, 243, 0.1);
    color: #2196f3;
    border: 1px solid #2196f3;
    z-index: 1;
  }
  
  .active {
    background: #2196f3;
    border: 1px solid #2196f3;
    color: white;
  }
  
  .active:hover {
    background: #2196f3;
    color: white;
  }
  